.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
  margin-top: 15px;
}

h1 {
  margin-bottom: 10px;
}

.book-table {
  border: 3px solid black;
  padding: 5px 0;
  width: 80%;
}

form > *:last-child {
  float: right;
}

.book-table > *:nth-child(odd) {
  background: #e0dede;
}

.book-table button,
.submitbtn {
  border: 2px solid black;
  box-shadow: 2px 2px;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.book {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin-bottom: 2px;
}

.book-info {
  width: 25%;
}

.remove-btn {
  width: 17%;
}

.separator {
  border: 1px solid black;
  margin: 40px auto;
  width: 20%;
}

.formSection {
  display: block;
  text-align: center;
}

.formSection .bookname,
.authorname {
  border: 2px solid black;
  padding: 4px;
}

.submitbtn {
  justify-self: flex-end;
}
